certifi==2023.5.7
charset-normalizer==3.1.0
exceptiongroup==1.1.1
idna==3.4
iniconfig==2.0.0
packaging==23.1
pluggy==1.0.0
pyclean==2.7.3
PyJWT==2.7.0
pytest==7.3.1
pytest-dotenv==0.5.2
pytest-mock==3.11.1
python-dotenv==1.0.0
requests==2.31.0
requests-mock==1.11.0
six==1.16.0
tomli==2.0.1
urllib3==2.0.2
